* {
    margin: 0;
    padding: 0;
    
}
:root{
    --main-font-color:rgb(21, 18, 18);
    --main-font-family: Arial, Helvetica, sans-serif;
    --header-font-color: hsl(195, 58%, 63%);
}
/* header Styles Begin*/
header {
    background-color:#3f3f3f;
    height:65px;
}

header h1 {
    font-family:var(--main-font-family);
    font-size: 48px;
    font-weight: lighter;
    color:var(--main-font-color);
    background-color: hsl(195, 58%, 63%);
    display:inline;
    padding-left: 65px;
    padding-right: 10px;
}
header nav {
    display:flex;
    float: right;   
    margin: 23px 0;
    
}
header nav ul li {
    list-style: none;
    display: inline;
    margin: 5px;
    
    
}
header nav ul li a {
    color: var(--header-font-color);
    margin: 10px;
    font-size: 20px;
    text-decoration: underline solid hsl(195, 58%, 63%) 4px;   
}
header nav ul li a:hover {
    text-decoration:none
}
/*header Styles End*/

.hero {
    height:200px;
    background-image: url(/images/abstract.jpg);
    background-position:center
    background-size: cover;
    position:relative;

}